  <div class="maincontent">
    <!-- top nextbar -->
    <div class="nextbar nextbar-top">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/versioning">Prev: Versioning</a></li>
        <li class="next"><a href="#/changelog">Next: ChangeLog</a></li>
      </ul>
    </div>

    <!-- main content goes here -->
    <h1 id="examples">Examples</h1>

    <h2 id="introduction">Introduction</h2>

    <p>To finish off our explaination of using GitFlow with GitHub, we’ve got some examples of different builds of software.</p>

    <h2 id="questions">Questions</h2>

    <p>In the following examples, can you say …</p>

    <ul>
      <li>what the version number change means?</li>

      <li>if the change breaks backwards-compatibility or not?</li>

      <li>which branch or branches the build may have come from?</li>

      <li>which kinds of environments the build can be installed into?</li>
    </ul>

    <p>Here are the example version numbers:</p>

    <ol>
      <li>foobar-1.0.0-SNAPSHOT20120512</li>

      <li>foobar-1.0.0-SNAPSHOT20120512</li>

      <li>foobar-1.0.0 -&gt; foobar-1.0.1</li>

      <li>foobar-1.0.1 -&gt; foobar-1.0.2-rc1</li>

      <li>foobar-1.0.2 -&gt; foobar-1.1.0-rc1</li>

      <li>foobar-1.2.0 -&gt; foobar-2.0.0</li>
    </ol>

    <h2 id="answers">Answers</h2>

    <p><strong>foobar-1.0.0-SNAPSHOT20120512</strong>:</p>

    <ul>
      <li>This is a development snapshot</li>

      <li>It might break backwards compatibility</li>

      <li>It will have been built from a feature branch, or from the develop branch</li>

      <li>It can be installed on dev boxes and integration environments.</li>
    </ul>

    <p><strong>foobar-1.0.0 -&gt; foobar-1.0.1</strong>:</p>

    <ul>
      <li>This is a bugfix release</li>

      <li>It does not break backwards compatibility</li>

      <li>It will have been built from the master branch</li>

      <li>It can be installed everywhere</li>
    </ul>

    <p><strong>foobar-1.0.1 -&gt; foobar-1.0.2-rc1</strong>:</p>

    <ul>
      <li>This is a bugfix release candidate</li>

      <li>It does not break backwards compatibility</li>

      <li>It will have been built from the hotfix branch called hotfix/1.0.1</li>

      <li>It can be installed everywhere except production</li>
    </ul>

    <p><strong>foobar-1.0.2 -&gt; foobar-1.1.0-rc1</strong>:</p>

    <ul>
      <li>This is a release candidate for a minor release</li>

      <li>It does not break backwards compatibility</li>

      <li>It will contain new features</li>

      <li>It may also contain bugfixes</li>

      <li>It will have been built from the release branch called release/1.1.0</li>

      <li>It can be installed everywhere except production</li>
    </ul>

    <p><strong>foobar-1.2.0 -&gt; foobar-2.0.0</strong>:</p>

    <ul>
      <li>This is a major new release</li>

      <li>It may break backwards compatibility</li>

      <li>It will have been built from the master branch</li>

      <li>It can be installed everywhere</li>
    </ul>

    <div class="nextbar nextbar-bottom">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/versioning">Prev: Versioning</a></li>
        <li class="next"><a href="#/changelog">Next: ChangeLog</a></li>
      </ul>
    </div>
  </div> <!-- close body (main content area) -->
