  <div class="maincontent">
    <!-- top nextbar -->
    <div class="nextbar nextbar-top">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/versioning">Prev: Versioning</a></li>
        <li class="next"><a href="#/changelog">Next: ChangeLog</a></li>
      </ul>
    </div>

    <!-- main content goes here -->
    <h1 id="examples">Examples</h1>

    <h2 id="introduction">Introduction</h2>

    <p>To finish off our explaination of using GitFlow with GitHub, we’ve got some examples of different builds of software.</p>

    <h2 id="questions">Questions</h2>

    <p>In the following examples, can you say …</p>

    <ul>
      <li>what the version number change means?</li>

      <li>if the change breaks backwards-compatibility or not?</li>

      <li>which branch or branches the build may have come from?</li>

      <li>which kinds of environments the build can be installed into?</li>
    </ul>

    <p>Here are the example version numbers:</p>

    <ol>
      <li>foobar-1.0.0-SNAPSHOT20120512</li>

      <li>foobar-1.0.0-SNAPSHOT20120512</li>

      <li>foobar-1.0.0 -&gt; foobar-1.0.1</li>

      <li>foobar-1.0.1 -&gt; foobar-1.0.2-rc1</li>

      <li>foobar-1.0.2 -&gt; foobar-1.1.0-rc1</li>

      <li>foobar-1.2.0 -&gt; foobar-2.0.0</li>
    </ol>

    <h2 id="answers">Answers</h2>

    <p><strong>foobar-1.0.0-SNAPSHOT20120512</strong>:</p>

    <ul>
      <li>This is a development snapshot</li>

      <li>It might break backwards compatibility</li>

      <li>It will have been built from a feature branch, or from the develop branch</li>

      <li>It can be installed on dev boxes and integration environments.</li>
    </ul>

    <p><strong>foobar-1.0.0 -&gt; foobar-1.0.1</strong>:</p>

    <ul>
      <li>This is a bugfix release</li>

      <li>It does not break backwards compatibility</li>

      <li>It will have been built from the master branch</li>

      <li>It can be installed everywhere</li>
    </ul>

    <p><strong>foobar-1.0.1 -&gt; foobar-1.0.2-rc1</strong>:</p>

    <ul>
      <li>This is a bugfix release candidate</li>

      <li>It does not break backwards compatibility</li>

      <li>It will have been built from the hotfix branch called hotfix/1.0.1</li>

      <li>It can be installed everywhere except production</li>
    </ul>

    <p><strong>foobar-1.0.2 -&gt; foobar-1.1.0-rc1</strong>:</p>

    <ul>
      <li>This is a release candidate for a minor release</li>

      <li>It does not break backwards compatibility</li>

      <li>It will contain new features</li>

      <li>It may also contain bugfixes</li>

      <li>It will have been built from the release branch called release/1.1.0</li>

      <li>It can be installed everywhere except production</li>
    </ul>

    <p><strong>foobar-1.2.0 -&gt; foobar-2.0.0</strong>:</p>

    <ul>
      <li>This is a major new release</li>

      <li>It may break backwards compatibility</li>

      <li>It will have been built from the master branch</li>

      <li>It can be installed everywhere</li>
    </ul>

    <!-- facebook likes -->
    <div class="facebook-likes hidden-phone">
      <fb:like send="true" width="640" show_faces="false" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 20px; width: 640px;"><iframe id="fc4287b38" name="f1d0a8181c" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="./Examples_files/like.html" style="border: none; overflow: hidden; height: 20px; width: 640px;"></iframe></span></fb:like>
    </div>

    <div class="facebook-likes visible-phone">
      <fb:like send="true" width="300" show_faces="false" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 20px; width: 300px;"><iframe id="fb23c5c1c" name="f96b55ab" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="./Examples_files/like(1).html" style="border: none; overflow: hidden; height: 20px; width: 300px;"></iframe></span></fb:like>
    </div>

    <!-- middle nextbar -->
    <div class="nextbar nextbar-middle">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/versioning">Prev: Versioning</a></li>
        <li class="next"><a href="#/changelog">Next: ChangeLog</a></li>
      </ul>
    </div>

    <!-- facebook comments -->
    <div class="visible-desktop">
      <div class="well">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments hidden-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/Examples.html" data-num-posts="5" data-width="640" mobile="false" fb-xfbml-state="rendered"><span style="height: 160px; width: 640px;"><iframe id="f45646ff4" name="f86e398b8" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./Examples_files/comments(2).html" style="border: none; overflow: hidden; height: 160px; width: 640px;"></iframe></span></div>
      </div>
    </div>
    <div class="visible-tablet">
      <div class="well">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments hidden-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/Examples.html" data-num-posts="5" data-width="500" mobile="false" fb-xfbml-state="rendered"><span style="height: 214px; width: 500px;"><iframe id="fb6a6360c" name="f2a9daa6d" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./Examples_files/comments(1).html" style="border: none; overflow: hidden; height: 214px; width: 500px;"></iframe></span></div>
      </div>
    </div>
    <div class="visible-phone">
      <div class="100%">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments visible-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/Examples.html" data-num-posts="5" data-width="300" fb-xfbml-state="rendered"><span style="height: 214px; width: 300px;"><iframe id="f239ae1144" name="f38144cb58" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./Examples_files/comments.html" style="border: none; overflow: hidden; height: 214px; width: 300px;"></iframe></span></div>
      </div>
    </div>

    <div class="nextbar nextbar-bottom">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/versioning">Prev: Versioning</a></li>
        <li class="next"><a href="#/changelog">Next: ChangeLog</a></li>
      </ul>
    </div>
  </div> <!-- close body (main content area) -->
