  <div class="maincontent">
    <!-- top nextbar -->
    <div class="nextbar nextbar-top">
      <ul class="nav nav-pills">
        <li class="prev">&nbsp;</li>
        <li class="next"><a href="#/gitflow">Next: Introducing GitFlow</a></li>
      </ul>
    </div>

    <!-- main content goes here -->
    <h1 id="hubflow_gitflow_for_github">GitFlow &amp; Semantic Versioning</h1>

    <h2 id="what_we_cover">What We Cover</h2>

    <p>On this site, you’ll find:</p>

    <ul>
      <li><strong><a href="#/gitflow">Introducing GitFlow</a></strong>: A brief overview of what Gitflow is. If you’re learning about GitFlow for the first time, you should also read <a href="http://nvie.com/posts/a-successful-git-branching-model/">Vincent Driessen’s original blog post introducing GitFlow</a>.</li>

      <li><strong><a href="#/hubflow">The HubFlow Tools</a></strong>: this is an introduction to the GitHub-focused fork of the <a href="https://github.com/nvie/gitflow">GitFlow extension for git</a>, which is called <strong>HubFlow</strong> to avoid any confusion with the original GitFlow extension commands. Includes installation instructions and how to contribute patches back.</li>

      <li><strong><a href="#/gitflowwithgithub">Using GitFlow With GitHub</a></strong>: this is probably the page you’re really looking for. It explains how to apply the GitFlow branching model if you’re using GitHub for hosting, and includes all the commands you need for each of the common tasks you’ll do.</li>

      <li><strong><a href="#/versioning">Versioning</a></strong>: to finish off, we look at why version numbers matter, and how you should use them in your projects.</li>
    </ul>

    <p>We hope you find this useful, and time-saving.</p>

    <h2 id="licence">Licence</h2>

    <p>This site is based off the original by DataSift, and just like Vincent’s original GitFlow post, every page on this website is published under the <a href="http://creativecommons.org/licenses/by-sa/3.0/nl/deed.en_GB">Creative Commons CC BY-SA</a> licence, and DataSift's <strong>HubFlow</strong> fork of the GitFlow tools is licenced under the <a href="https://github.com/datasift/gitflow/blob/develop/LICENSE">BSD 2-Clause Licence</a>.</p>

    <p>You’ll find the source code for this website in the <a href="https://github.com/datasift/gitflow/tree/gh-pages">gh-pages branch of DataSift's gitflow repo on GitHub</a>.</p>

  </div> <!-- close body (main content area) -->
