  <div class="maincontent">
    <!-- top nextbar -->
    <div class="nextbar nextbar-top">
      <ul class="nav nav-pills">
        <li class="prev">&nbsp;</li>
        <li class="next"><a href="http://datasift.github.io/gitflow/IntroducingGitFlow.html">Next: Introducing GitFlow</a></li>
      </ul>
    </div>

    <!-- main content goes here -->
    <h1 id="hubflow_gitflow_for_github">HubFlow: GitFlow For GitHub</h1>

    <h2 id="introduction">Introduction</h2>

    <p>At <a href="http://datasift.com/">DataSift</a>, we’ve standardised on:</p>

    <ul>
      <li>using <strong>Git</strong> for our source control,</li>

      <li>using <strong>GitHub</strong> to host our public and private Git repositories,</li>

      <li>and using <strong>GitFlow</strong> as our common workflow</li>
    </ul>

    <p>This website explains how we’ve adapted GitFlow and the GitFlow tools git extension for working with GitHub. This is how we work internally, and we’re sharing this in the hope that others find it useful too.</p>

    <h2 id="what_we_cover">What We Cover</h2>

    <p>On this site, you’ll find:</p>

    <ul>
      <li><strong><a href="http://datasift.github.io/gitflow/IntroducingGitFlow.html">Introducing GitFlow</a></strong>: this is how we explain what GitFlow is to new employees when they join the company. If you’re learning about GitFlow for the first time, you should also read <a href="http://nvie.com/posts/a-successful-git-branching-model/">Vincent Driessen’s original blog post introducing GitFlow</a>.</li>

      <li><strong><a href="http://datasift.github.io/gitflow/TheHubFlowTools.html">The HubFlow Tools</a></strong>: this is an introduction to our GitHub-focused fork of the <a href="https://github.com/nvie/gitflow">GitFlow extension for git</a>, which we’ve called <strong>HubFlow</strong> to avoid any confusion with the original GitFlow extension commands. Includes installation instructions and how to contribute patches back.</li>

      <li><strong><a href="http://datasift.github.io/gitflow/GitFlowForGitHub.html">Using GitFlow With GitHub</a></strong>: this is probably the page you’re really looking for. It explains how to apply the GitFlow branching model if you’re using GitHub for hosting, and includes all the commands you need for each of the common tasks you’ll do.</li>

      <li><strong><a href="http://datasift.github.io/gitflow/Versioning.html">Versioning</a></strong>: to finish off, we look at why version numbers matter, and how you should use them in your projects.</li>
    </ul>

    <p>We hope you find this useful, and time-saving.</p>

    <h2 id="licence">Licence</h2>

    <p>Just like Vincent’s original GitFlow post, every page on this website is published under the <a href="http://creativecommons.org/licenses/by-sa/3.0/nl/deed.en_GB">Creative Commons CC BY-SA</a> licence, and our <strong>HubFlow</strong> fork of the GitFlow tools is licenced under the <a href="https://github.com/datasift/gitflow/blob/develop/LICENSE">BSD 2-Clause Licence</a>.</p>

    <p>You’ll find the source code for this website in the <a href="https://github.com/datasift/gitflow/tree/gh-pages">gh-pages branch of our gitflow repo on GitHub</a>. If you spot a mistake or have an idea how to improve this website, pull requests are most welcome :)</p>

    <!-- facebook likes -->
    <div class="facebook-likes hidden-phone">
      <fb:like send="true" width="640" show_faces="false" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 20px; width: 640px;"><iframe id="f1c8518c78" name="f356a57958" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="./HubFlow  GitFlow For GitHub_files/like(1).html" style="border: none; overflow: hidden; height: 20px; width: 640px;"></iframe></span></fb:like>
    </div>

    <div class="facebook-likes visible-phone">
      <fb:like send="true" width="300" show_faces="false" fb-xfbml-state="rendered" class="fb_edge_widget_with_comment fb_iframe_widget"><span style="height: 28px; width: 300px;"><iframe id="f1349eaf04" name="f1043319dc" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="./HubFlow  GitFlow For GitHub_files/like.html" style="border: none; overflow: hidden; height: 28px; width: 300px;"></iframe></span></fb:like>
    </div>

    <!-- middle nextbar -->
    <div class="nextbar nextbar-middle">
      <ul class="nav nav-pills">
        <li class="prev">&nbsp;</li>
        <li class="next"><a href="http://datasift.github.io/gitflow/IntroducingGitFlow.html">Next: Introducing GitFlow</a></li>
      </ul>
    </div>

    <!-- facebook comments -->
    <div class="visible-desktop">
      <div class="well">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments hidden-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/index.html" data-num-posts="5" data-width="640" mobile="false" fb-xfbml-state="rendered"><span style="height: 997px; width: 640px;"><iframe id="f3dfb7eac" name="f1ef3b13c" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./HubFlow  GitFlow For GitHub_files/comments.html" style="border: none; overflow: hidden; height: 997px; width: 640px;"></iframe></span></div>
      </div>
    </div>
    <div class="visible-tablet">
      <div class="well">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments hidden-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/index.html" data-num-posts="5" data-width="500" mobile="false" fb-xfbml-state="rendered"><span style="height: 3530px; width: 500px;"><iframe id="f2a7a48f3c" name="f1f9de904" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./HubFlow  GitFlow For GitHub_files/comments(1).html" style="border: none; overflow: hidden; height: 3530px; width: 500px;"></iframe></span></div>
      </div>
    </div>
    <div class="visible-phone">
      <div class="100%">
        <h2>Reader Comments And Feedback</h2>
        <div class="fb-comments visible-phone fb_iframe_widget" data-href="http://datasift.github.com/gitflow/index.html" data-num-posts="5" data-width="300" fb-xfbml-state="rendered"><span style="height: 3530px; width: 300px;"><iframe id="f5c969dfc" name="fffd0dd2c" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="./HubFlow  GitFlow For GitHub_files/comments(2).html" style="border: none; overflow: hidden; height: 3530px; width: 300px;"></iframe></span></div>
      </div>
    </div>

    <div class="nextbar nextbar-bottom">
      <ul class="nav nav-pills">
        <li class="prev">&nbsp;</li>
        <li class="next"><a href="http://datasift.github.io/gitflow/IntroducingGitFlow.html">Next: Introducing GitFlow</a></li>
      </ul>
    </div>
  </div> <!-- close body (main content area) -->
