  <div class="maincontent">
    <!-- top nextbar -->
    <div class="nextbar nextbar-top">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/">Prev: HubFlow: GitFlow For GitHub</a></li>
        <li class="next"><a href="#/hubflow">Next: HubFlow: The GitFlow Tools Adapted For GitHub</a></li>
      </ul>
    </div>

    <!-- main content goes here -->
    <h1 id="introducing_gitflow">Introducing GitFlow</h1>

    <h2 id="what_is_gitflow">What Is GitFlow?</h2>

    <p><a href="http://nvie.com/posts/a-successful-git-branching-model/">GitFlow</a> is a branching model for Git, created by Vincent Driessen. It has attracted a lot of attention because it is very well suited to collaboration and scaling the development team.</p>

    <p><img alt="GitFlow" src="img/Screen-shot-2009-12-24-at-11.32.03.png"></p>

    <h2 id="key_benefits">Key Benefits</h2>

    <h3 id="parallel_development">Parallel Development</h3>

    <p>One of the great things about GitFlow is that it makes parallel development very easy, by isolating new development from finished work. New development (such as features and non-emergency bug fixes) is done in <strong>feature branches</strong>, and is only merged back into main body of code when the developer(s) is happy that the code is ready for release.</p>

    <p>Although interruptions are a BadThing(tm), if you are asked to switch from one task to another, all you need to do is commit your changes and then create a new feature branch for your new task. When that task is done, just checkout your original feature branch and you can continue where you left off.</p>

    <h3 id="collaboration">Collaboration</h3>

    <p>Feature branches also make it easier for two or more developers to collaborate on the same feature, because each feature branch is a sandbox where the only changes are the changes necessary to get the new feature working. That makes it very easy to see and follow what each collaborator is doing.</p>

    <h3 id="release_staging_area">Release Staging Area</h3>

    <p>As new development is completed, it gets merged back into the <strong>develop branch</strong>, which is a staging area for all completed features that haven’t yet been released. So when the next release is branched off of <strong>develop</strong>, it will automatically contain all of the new stuff that has been finished.</p>

    <h3 id="support_for_emergency_fixes">Support For Emergency Fixes</h3>

    <p>GitFlow supports <strong>hotfix branches</strong> - branches made from a tagged release. You can use these to make an emergency change, safe in the knowledge that the hotfix will only contain your emergency fix. There’s no risk that you’ll accidentally merge in new development at the same time.</p>

    <h2 id="how_it_works">How It Works</h2>

    <p>New development (new features, non-emergency bug fixes) are built in <strong>feature branches</strong>:</p>

    <p><img alt="GitFlow feature branches" src="img/GitFlowFeatureBranches.png"></p>

    <p>Feature branches are branched off of the <strong>develop branch</strong>, and finished features and fixes are merged back into the <strong>develop branch</strong> when they’re ready for release:</p>

    <p><img alt="GitFlow develop branch" src="img/GitFlowDevelopBranch.png"></p>

    <p>When it is time to make a release, a <strong>release branch</strong> is created off of <strong>develop</strong>:</p>

    <p><img alt="GitFlow release branch" src="img/GitFlowReleaseBranch.png"></p>

    <p>The code in the <strong>release branch</strong> is deployed onto a suitable test environment, tested, and any problems are fixed directly in the release branch. This <strong>deploy -&gt; test -&gt; fix -&gt; redeploy -&gt; retest</strong> cycle continues until you’re happy that the release is good enough to release to customers.</p>

    <p>When the release is finished, the <strong>release branch</strong> is merged into <strong>master</strong> <strong>and</strong> into <strong>develop</strong> too, to make sure that any changes made in the <strong>release branch</strong> aren’t accidentally lost by new development.</p>

    <p><img alt="GitFlow master branch" src="img/GitFlowMasterBranch.png"></p>

    <p>The <strong>master branch</strong> tracks released code only. The only commits to <strong>master</strong> are merges from <strong>release branches</strong> and <strong>hotfix branches</strong>.</p>

    <p><strong>Hotfix branches</strong> are used to create emergency fixes:</p>

    <p><img alt="GitFlow hotfix branch" src="img/GitFlowHotfixBranch.png"></p>

    <p>They are branched directly from a tagged release in the <strong>master branch</strong>, and when finished are merged back into both <strong>master</strong> and <strong>develop</strong> to make sure that the hotfix isn’t accidentally lost when the next regular release occurs.</p>


    <div class="nextbar nextbar-bottom">
      <ul class="nav nav-pills">
        <li class="prev"><a href="#/">Prev: HubFlow: GitFlow For GitHub</a></li>
        <li class="next"><a href="#/hubflow">Next: HubFlow: The GitFlow Tools Adapted For GitHub</a></li>
      </ul>
    </div>
  </div> <!-- close body (main content area) -->
